@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Lato&display=swap");

body,
html {
  background-color: #0f0f0f; /* smokey-black */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  font-family: "Dongle", sans-serif;
  font-family: "Lato", sans-serif;
}
.title {
  color: #fbfbfb; /* white */
}
#_play {
  border: 1px solid #bcabae; /* black shadows */
  color: #bcabae; /* black shadows */
  padding: 8px 32px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
}
#grid {
  border: 1px solid #fbfbfb;
  padding: 4px;
  transform: scaleY(-1);
}

.note {
  background-color: #2d2e2e;
  border: 1px solid #3a3a3a7a;
}
